<div class="row">
	
	<h2><span id="bioAssayName"></span></h2>
	<br></br>
	
	<div id="bioAssaySummaryText" class="span12 paddind-top-xxl">
		<table id="bioAssaySummaryTable">
			<tr>
				<td><strong>Assay Format:</strong> <span id="bioAssayFormat">value</span></td>
				<td><strong>Assay Type:</strong> <span id="bioAssayType">value</span></td>
			</tr>
			<tr>
				<td><strong>Project Number:</strong> <span id="projectNumber">value</span></td>
				<td><strong>Organisation:</strong> <span id="organisation">value</span></td>
			</tr>
		</table>
		
		<div id="bioAssayDescriptionSection">
			<strong>Assay Description:</strong> <span id="bioAssayDescription">value</span>
		</div>
		<br></br>
		
		<div id = "summaryBioassayLinks">
			<div id='tooltip-ex'>
			<table>
				<tr>
					<td><div id="bioAssaySLink"  class="bioAssayLink"></div></td>
					<td><div id="bioAssayPLink"  class="bioAssayLink"></div></td>
					<td><div id="bioAssayCLink"  class="bioAssayLink"></div></td>
					<td><div id="bioAssayPPLink" class="bioAssayLink"></div></td>
					<td><div id="bioAssayShLink" class="bioAssayLink"></div></td>
					<td><div id="bioAssayCdLink" class="bioAssayLink"></div></td>
					<td><div id="bioAssayAbLink" class="bioAssayLink"></div></td>
					<td><div id="bioAssayNkpLink" class="bioAssayLink"></div></td>
					<td><div id="bioAssayLpLink" class="bioAssayLink"></div></td>
					<td><div id="bioAssayGLink"  class="bioAssayLink"></div></td>
			</table>
			</div>
		</div>	
	
		<div id = "summaryBioassayLogo">
			<a id="assayLogoLinkId" href=""  target='_blank'>
				<img id="assayImageId" class='size-s' src="">
			</a>
		</div>
		
		<br></br>		
		<a id="downloadData" href="" class="btn btn-small btn-info" target="_blank">Get data from source</a>
    </div>
</div>
