<div class="row">
    <h2><span id="nkpame" class="summaryHeader"></span></h2>
	<br></br>
	
     <div id="abSummaryText" class="summaryText span12 paddind-top-xxl">
	    <table id="abSummaryTable" class = "summaryTable">
	    	<tr>	
	    		<td><strong>Description : </strong><span id="description"></span></td>
	    		<td><strong>Uniprot Id : </strong><span id="uniprot"></span></td>
	    	</tr>
	    	
	    </table>
	 </div><!--  
	 
	<div id="nonkinaseproteinsLink" class="summaryLink span4">L1000 transcriptional profiling assay</div>
	-->
	<div id="summaryLinks" class="span12"></div>
	<div id="waitImg" class="span12"></div>
	
</div>